body{
    margin: 0;
    background-color: #04090A;
    font-family: 'Roboto', sans-serif;
}

.main-container{
    display: flex;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    color: #fff;
}
.container-1{
    background: url(images/Image-1.jpg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.container-2{
    background: url(images/Image-2.jpg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.container-3{
    background: url(images/Image-3.jpg);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
.container-4{
    background: url(images/Image-4.webp);
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
